
.app-container {
    position: relative; 
    background-image: url('../../Images/Table/table.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%; 
}

.house-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%; 
}