
.app-container {
    position: relative; 
    background-image: url('../../Images/Table/table.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%; 
}

.house-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%; 
}


.game-over {
    font-size: 2em; /* Adjust the size as needed */
    background-color: white;
    color: black; /* Assuming you want black text on a white background */
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid black; /* Optional: add a border */
    border-radius: 5px; /* Optional: add rounded corners */
}